<section class="px-6 py-8 max-w-prose mx-auto gap-8 grid grid-cols-1">
  <% var last_year = ''; %>
  <% page.posts.each(function (post, index) { %>
    <% var cur_year = post.date.year(); %>
    <% if(last_year !== cur_year){ %>
      <!-- Large text showing the year in the background -->
      <div class="relative pointer-events-none">
        <span class="text-9xl opacity-10 absolute -right-11 -top-6 font-bold"><%- cur_year %></span>
      </div>
    <% last_year = cur_year; } %>
    <!-- The post -->
    <div class="flex flex-col gap-1 post-container">
      <a style="<%- '--stagger:' + index %>" href="<%- url_for(post.path) %>" data-animate>
        <!-- Post title -->
        <header>
          <h2 class="font-bold text-xl">
            <%- post.title %>
          </h2>
        </header>
        <section class="text-gray-400 mt-1 text-sm time">
          <p class="line-clamp-4">
            <!-- Post excerpt -->
            <% if (post.excerpt) { %>
              <div>
                <%- post.excerpt %>
              </div>
              <!-- Line sep -->
              <hr class="mt-1 h-[1px] bg-gray-200 dark:bg-zinc-700 mr-1/2"></hr>
            <% } %>
          </p>
        </section>
      </a>
      <!-- Post Statistics -->
      <p class="text-xs text-gray-400 line-clamp-4">
        Created: <%- date(post.date, 'YYYY-MM-DD') %>
        <span class="text-gray-400">·</span>
        Updated: <%= date(post.updated, 'YYYY-MM-DD') %>
        <!-- <%= min2read(post.content) %> min -->
        <span class="text-gray-400">·</span>
        <%= wordcount(post.content) %> words
        <!-- Categories -->
        <% if (post.categories && post.categories.length) { %>
          <span class="text-gray-400">·</span>
          <% post.categories.forEach(function (item) { %>
            <a class="text-gray-400" href="<%- url_for(item.path) %>"><%- item.name %></a>
          <% }); %>
        <% } %>
      </p>
      <!-- Tags -->
      <div class="flex flex-wrap gap-2">
        <% if (post.tags && post.tags.length) { %>
          <% post.tags.forEach(function (tag) { %>
            <a href="<%- url_for(tag.path) %>" class="transition-transform hover:scale-110 bg-gray-100 hover:bg-gray-200 dark:bg-zinc-800 hover:dark:bg-zinc-700 px-1 py-0.5 text-sm rounded-md transition-colors">
              <p><%- tag.name %></p>
            </a>
          <% }); %>
        <% } %>
      </div>
    </div>
  <% }) %>
</section>
