<section class="px-0 py-8 max-w-prose mx-auto gap-10 grid grid-cols-1">
  <% var last_year = ''; %>
  <% page.posts.each(function (post, index) { %>
    <% var cur_year = post.date.year(); %>
    <% if(last_year !== cur_year){ %>
      <!-- Large text showing the year in the background -->
      <div class="relative pointer-events-none">
        <div class="absolute -top-6 w-[100%]">
          <p class="text-clip overflow-hidden -translate-x-2 text-9xl font-extrabold opacity-10">
            <%- cur_year %>
          </p>
        </div>
      </div>
    <% last_year = cur_year; } %>
    <!-- The post -->
    <div class="flex flex-col gap-1 px-6 post-container">
      <a class="group" style="<%- '--stagger:' + index %>" href="<%- url_for(post.path) %>" data-animate>
        <!-- Post title -->
        <header>
          <h2 class="font-bold text-xl group-hover:translate-x-2 transition-all">
            <%- post.title %>
          </h2>
        </header>
        <section class="text-gray-400 mt-1 text-sm time">
          <p class="line-clamp-4">
            <!-- Post excerpt -->
            <% if (post.excerpt) { %>
              <div>
                <%- post.excerpt %>
              </div>
              <!-- Line sep -->
              <hr class="mt-1 h-[1px] bg-gray-200 dark:bg-zinc-700 mr-1/2"></hr>
            <% } %>
          </p>
        </section>
      </a>
      <!-- Post Statistics -->
      <div class="flex flex-wrap items-center gap-x-2 gap-y-0 text-sm text-gray-400 line-clamp-4">
        <span class="flex flex-row items-center gap-1">
          <iconify-icon width="16" icon="mingcute:file-new-fill" ></iconify-icon>
          <time class="w-max">
            <%- date(post.date, 'YYYY-MM-DD') %>
          </time>
        </span>
        <span class="flex flex-row items-center gap-1">
          <iconify-icon width="16" icon="mingcute:edit-2-fill" ></iconify-icon>
          <time class="w-max">
            <%= date(post.updated, 'YYYY-MM-DD') %>
          </time>
        </span>
        <span class="flex flex-row items-center gap-1">
          <iconify-icon width="16" icon="mingcute:book-6-fill" ></iconify-icon>
          <p class="w-max">
            <%= wordcount(post.content) %> words, <%= min2read(post.content) %> min
          </p>
        </span>
        <!-- Categories -->
        <span class="flex flex-row items-center gap-1">
          <% if (post.categories && post.categories.length) { %>
            <iconify-icon width="16" icon="mingcute:classify-2-fill" class="mr-0"></iconify-icon>
            <% post.categories.forEach(function (item) { %>
              <a class="text-gray-400" href="<%- url_for(item.path) %>"><%- item.name %></a>
            <% }); %>
          <% } %>
        </span>
      </div>
      <!-- Tags -->
      <div class="flex flex-wrap gap-2">
        <% if (post.tags && post.tags.length) { %>
          <% post.tags.forEach(function (tag) { %>
            <a href="<%- url_for(tag.path) %>" 
              class="transition-all hover:scale-110 bg-gray-100 hover:bg-gray-200 dark:bg-zinc-800 hover:dark:bg-zinc-700 px-2 py-1 text-sm rounded-md hover:drop-shadow-md hover:rotate-[3deg]">
              <p><%- tag.name %></p>
            </a>
          <% }); %>
        <% } %>
      </div>
    </div>
  <% }) %>
</section>
