<section class="px-6 py-8 max-w-prose mx-auto gap-8 grid grid-cols-1">
  <% var last_year = ''; %>
  <% page.posts.each(function (post, index) { %>
    <!-- Large text showing the year in the background -->
    <% var cur_year = post.date.year(); %>
    <% if(last_year !== cur_year){ %>
      <div class="relative pointer-events-none">
        <span class="text-9xl opacity-10 absolute -left-11 -top-6 font-bold"><%- cur_year %></span>
      </div>
    <% last_year = cur_year; } %>
    <!-- The post -->
    <div class="post-container border-1 p-4 rounded-md">
      <a style="<%- '--stagger:' + index %>" href="<%- url_for(post.path) %>" data-animate>
        <!-- Post title -->
        <header>
          <h2 class="font-bold text-xl">
            <%- post.title %>
          </h2>
        </header>
        <section class="text-gray-400 my-2 text-sm time">
          <p class="line-clamp-4">
            <% if (post.excerpt) { %>
              <div class="py-2">
                <%- post.excerpt %>
              </div>
              <% } %>
            </p>
            <p class="line-clamp-4">
              Created <%- date(post.date, 'YYYY-MM-DD') %>
              <span class="text-gray-400">·</span>
              Edit: <%= date(post.updated, 'YYYY-MM-DD') %>
              <!-- <%= min2read(post.content) %> min -->
              <span class="text-gray-400">·</span>
              <%= wordcount(post.content) %> words
          </p>
        </section>
      </a>
      <div class="border-gray-200 flex flex-wrap gap-1">
        <% if (post.tags && post.tags.length) { %>
          <% post.tags.forEach(function (tag) { %>
            <span class="bg-gray-100 dark:bg-zinc-800 px-2 py-1 text-sm rounded-md transition-colors hover:bg-gray-200">
              <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
            </span>
          <% }); %>
        <% } %>
      </div>
    </div>
  <% }) %>
</section>
