<%#
this page has two versions, which is shown is based on whether current page is 'category':

- url:'http://localhost:4000/category/' return false.
- url:'http://localhost:4000/categories/*/' return true.

The `/category/` page will shown all categories, and is the page you
land on when you click on the "Categories" in the navigdation bar.

The '/categories/*/' by click post header link will show the single category of this post.

How to add a category page:

1. hexo new page "category"
2. cd source/category/index.md
3. Add the following front matter:

---
title: '''category'''
date: 2019-06-09 09:56:49
layout: category
---


 %>

<% if (is_category()) { %>
  <!-- 已经选择了category，显示给定category的所有文章 -->
  <div class="text-gray-400 dark:text-gray-400 flex flex-row h-8 justify-center items-center dark:bg-zinc-900 px-4 py-2 border-1">
    <iconify-icon width="32" icon="icon-park-outline:box" class="mr-2"></iconify-icon>
    <span>
      <p class="text-2xl">Category: <%-page.category%></span>
    </span>
  </div>
  <%- partial('archive', {pagination: config.category, index: true}) %>
<% } else { %>
  <!-- 显示所有存在的 category -->
  <div class="px-6 max-w-prose mx-auto md:px-0 mt-6">
    <h2 class="font-bold text-2xl">Categories</h2>
    <div class="mt-2 flex flex-col">
      <% site.categories.forEach(category =>{ %>
        <a href="<%- url_for(category.path) %>" class="py-2 group">
          <div class="flex flex-row gap-1 group-hover:translate-x-2 transition-all">
            <p> <%- category.name %></p>
            <span>(<%- category.posts.length %>)</span>
          </div>
        </a>
      <% }) %>
    </div>
  </div>
<% } %>
