<div class="flex flex-col gap-0">
  <div class="index-info-container pt-6 text-[var(--c-70)]">
    <!-- Home page info, short text about me -->
    <div class="flex flex-col items-center justify-center">
      <% if (theme.show_profile_image) { %>
        <a href="/about">
          <img class="rounded-3xl w-36 sm:w-48 hover:scale-[1.04] transition-transform" src="<%- theme.portrait %>"
            alt="<%- config.title %>" />
        </a>
      <% } %>
      <!-- Site title -->
      <h1 class="
        site-title
        text-center
        text-5xl
        bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent
        pb-4
        pt-6
        font-black
        ">
        <%= config.title %>
      </h1>
      <!-- Sub-title -->
      <p class="
        text-3xl font-extrabold text-center
        bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent
        text-[var(--c-80)]">
        <%= config.subtitle %>
      </p>
      <div class="flex flex-wrap items-center justify-center gap-4 my-6 font-bold text-lg">
        <div class="flex flex-row items-center gap-1">
          <iconify-icon width="24" icon="mingcute:building-1-fill"></iconify-icon>
          <p><%= theme.my_location %></p>
        </div>
        <div class="flex flex-row items-center gap-1 group">
          <iconify-icon class="transition-transform
                group-hover:scale-125" width="24" icon="mingcute:idcard-fill"></iconify-icon>
          <a href="<%= theme.cv_path %>" class="group-hover:underline">
            CV (<%= theme.cv_last_update_date %>)
          </a>
        </div>
      </div>
      <!-- Description from config -->
      <div class="description-container max-w-prose mx-auto grid grid-cols-1">
        <div class="text-left p-8">
          <p>
            <%- config.description.replace(/(?:\r\n|\r|\n)/g, '<br>' ) %>
          </p>
        </div>
      </div>
      <!-- get content from index.md -->
      <div class="post-content mt-4">
      </div>
    </div>
  </div>

  <% if (theme.show_featured_posts) { %>
  <!-- 分割线 -->
  <div class="flex flex-col items-center justify-center">
    <hr class="w-1/2 mb-10 h-[1px] bg-[var(--c-sep)] mr-1/2">
    </hr>
    <div class="flex flex-row items-center gap-2 text-[var(--c-50)]">
      <iconify-icon width="28" icon="mingcute:star-fill"></iconify-icon>
      <p class="text-center text-3xl">Featured Posts</p>
    </div>
  </div>

  <!-- List of featured posts -->
  <%- partial('_partial/post-list', {
    posts: site.posts.filter(post => post.featured),
    show_tags: false
  }) %>

  <% } %>
</div>
