<div class="flex flex-col gap-0">
  <div class="index-info-container pt-6 text-zinc-600 dark:text-zinc-300">
    <!-- Home page info, short text about me -->
    <div class="flex flex-col items-center justify-center">
        <img class="w-24 h-24 rounded-full" src="<%- theme.logo %>" alt="<%- config.title %>" />
        <!-- Site title -->
        <h1 class="site-title text-4xl font-bold leading-relaxed text-black dark:text-zinc-200">
          <%= config.title %>
        </h1>
        <!-- Sub-title -->
        <p class="text-xl text-gray-800 dark:text-zinc-200 mt-2 font-bold text-black dark:text-zinc-200">
          <%= config.subtitle %>
        </p>
        <p class="mt-3">
          Beijing · 北京
          · <a href="/pdf/cv.pdf">CV (Dec, 2022)</a>
        </p>
        <!-- Description from config -->
        <div class="description-container max-w-prose mx-auto grid grid-cols-1">
          <div class="text-left p-8">
            <p>
              <%- config.description.replace(/(?:\r\n|\r|\n)/g, '<br>') %>
            </p>
          </div>
        </div>
        <!-- get content from index.md -->
        <div class="post-content mt-4">
        </div>
      </div>
    </div>
  </div>

  <!-- 分割线 -->
  <div class="flex flex-col items-center justify-center0">
    <hr class="w-1/2 my-8 h-[1px] bg-gray-200 dark:bg-zinc-700 mr-1/2"></hr>
    <p class="text-center p-4 text-gray-400 text-2xl">Recent Works</p>
  </div>

  <section class="px-6 py-8 max-w-prose mx-auto gap-4 grid grid-cols-1">
    <% var last_year = ''; %>
    <% site.posts.each(function (post, index) { %>
      <% if (post.featured) { %>
        <!-- Large year background -->
        <% var cur_year = post.date.year(); %>
        <% if(last_year !== cur_year){ %>
          <div class="relative pointer-events-none">
            <span class="text-9xl opacity-10 absolute -right-11 -top-6 font-bold"><%- cur_year %></span>
          </div>
        <% last_year = cur_year; } %>
        <!-- The post -->
        <div class="flex flex-col gap-1 post-container">
          <a style="<%- '--stagger:' + index %>" href="<%- url_for(post.path) %>" data-animate>
            <!-- Post Title -->
            <header>
              <h2 class="font-bold text-lg text-zinc-800 dark:text-zinc-200">
                <%- post.title %>
              </h2>
            </header>
            <section class="text-zinc-500 dark:text-zinc-400 text-sm time">
              <p class="line-clamp-4">
                <% if (post.excerpt) { %>
                  <div class="py-2">
                    <%- post.excerpt %>
                  </div>
                  <!-- Line sep -->
                  <hr class=" h-[1px] bg-zinc-200 dark:bg-zinc-700 mr-1/2"></hr>
                <% } %>
              </p>
            </section>
            <!-- Post statistics -->
            <div class="text-sm text-zinc-500 dark:text-zinc-400">
              <p class="line-clamp-4">
                <%- date(post.date, 'MMM DD, YYYY') %>
                ·
                <%= wordcount(post.content) %> words
                ·
                <%= min2read(post.content) %> min
              </p>
            </div>
          </a>
          <!-- Tags -->
          <!-- <div class="border-gray-200 flex flex-wrap gap-1">
            <% if (post.tags && post.tags.length) { %>
              <% post.tags.forEach(function (tag) { %>
                <span class="bg-gray-100 dark:bg-zinc-800 px-2 py-1 text-sm rounded-md transition-colors hover:bg-gray-200">
                  <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
                </span>
              <% }); %>
            <% } %>
          </div> -->
        </div>
      <% } %>
    <% }) %>
  </section>

</div>