<div class="flex flex-col gap-0">
  <div class="index-info-container pt-6 text-zinc-600 dark:text-zinc-300">
    <!-- Home page info, short text about me -->
    <div class="flex flex-col items-center justify-center">
        <img class="w-24 h-24 rounded-full" src="<%- theme.logo %>" alt="<%- config.title %>" />
        <!-- Site title -->
        <h1 class="site-title text-4xl font-extrabold text-gray-800 dark:text-zinc-200">
          <%= config.title %>
        </h1>
        <!-- Sub-title -->
        <p class="text-xl font-extrabold text-gray-800 dark:text-zinc-200 mt-2 dark:text-zinc-200">
          <%= config.subtitle %>
        </p>
        <div class="flex flex-row items-center gap-6 mt-3">
          <span class="flex flex-row items-center gap-1">
            <iconify-icon width="18" icon="mingcute:home-2-fill"></iconify-icon>
            <p>Beijing 北京</p>
          </span>
          <a href="/pdf/cv.pdf" class="flex flex-row items-center gap-1 group">
            <iconify-icon class="transition-all group-hover:rotate-[8deg] group-hover:scale-125" width="18" icon="mingcute:document-fill"></iconify-icon>
            <p>CV 简历 (Dec, 2022)</p>
          </a>
        </div>
        <!-- Description from config -->
        <div class="description-container max-w-prose mx-auto grid grid-cols-1">
          <div class="text-left p-8">
            <p>
              <%- config.description.replace(/(?:\r\n|\r|\n)/g, '<br>') %>
            </p>
          </div>
        </div>
        <!-- get content from index.md -->
        <div class="post-content mt-4">
        </div>
      </div>
    </div>
  </div>

  <!-- 分割线 -->
  <div class="flex flex-col items-center justify-center0">
    <hr class="w-1/2 my-8 h-[1px] bg-gray-200 dark:bg-zinc-700 mr-1/2"></hr>
    <div class="flex flex-row items-center gap-1 text-zinc-300 dark:text-zinc-600">
      <iconify-icon width="28" icon="mingcute:news-fill"></iconify-icon>
      <p class="text-center text-3xl">Recent Works</p>
    </div>
  </div>

  <!-- List of featured posts -->
  <section class="flex flex-col items-center py-8 max-w-prose mx-auto gap-12 grid grid-cols-1">
    <% var last_year = ''; %>
    <% site.posts.each(function (post, index) { %>
      <% if (post.featured) { %>
        <!-- Large year background -->
        <% var cur_year = post.date.year(); %>
        <% if(last_year !== cur_year){ %>
          <div class="relative pointer-events-none">
            <div class="absolute -top-6 w-[100%]">
              <p class="text-clip overflow-hidden -translate-x-2 text-9xl font-extrabold opacity-10">
                <%- cur_year %>
              </p>
            </div>
          </div>
        <% last_year = cur_year; } %>
        <!-- The post -->
        <div class="flex flex-col px-6 gap-1 post-container">
          <a style="<%- '--stagger:' + index %>" href="<%- url_for(post.path) %>" data-animate>
            <!-- Post Title -->
            <header>
              <h2 class="post-title font-bold text-lg text-zinc-600 dark:text-zinc-300 hover:translate-x-2 transition-all">
                <%- post.title %>
              </h2>
            </header>
            <section class="text-zinc-500 dark:text-zinc-400 text-sm time">
              <p class="line-clamp-4">
                <% if (post.excerpt) { %>
                  <div class="py-2">
                    <%- post.excerpt %>
                  </div>
                  <!-- Line sep -->
                  <!-- <hr class="w-1/4 h-[1px] bg-zinc-200 dark:bg-zinc-700"></hr> -->
                <% } %>
              </p>
            </section>
            <!-- Post statistics -->
            <div class="flex flex-row items-center gap-4 text-sm text-zinc-500 dark:text-zinc-400">
              <span class="flex flex-row items-center gap-1">
                <iconify-icon width="18" icon="mingcute:edit-2-fill" ></iconify-icon>
                <%- date(post.date, 'MMM DD, YYYY') %>
              </span>
              <span class="flex flex-row items-center gap-1">
                <iconify-icon width="18" icon="ant-design:read-filled" ></iconify-icon>
                <%= wordcount(post.content) %> words, <%= min2read(post.content) %> min
              </span>
            </div>
          </a>
          <!-- Tags -->
          <!-- <div class="border-gray-200 flex flex-wrap gap-1">
            <% if (post.tags && post.tags.length) { %>
              <% post.tags.forEach(function (tag) { %>
                <span class="bg-gray-100 dark:bg-zinc-800 px-2 py-1 text-sm rounded-md transition-colors hover:bg-gray-200">
                  <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
                </span>
              <% }); %>
            <% } %>
          </div> -->
        </div>
      <% } %>
    <% }) %>
  </section>

</div>