<div class="flex flex-col gap-0">
  <div class="index-info-container pt-6 text-zinc-600 dark:text-zinc-300">
    <!-- Home page info, short text about me -->
    <div class="flex flex-col items-center justify-center">
        <!-- <img class="w-24 h-24 rounded-full" src="<%- theme.logo %>" alt="<%- config.title %>" /> -->
        <img 
          class="rounded-3xl w-48 hover:scale-110 transition-transform drop-shadow-lg" 
          src="<%- theme.portrait %>" alt="<%- config.title %>" 
        />
        <!-- Site title -->
        <h1 class="site-title text-4xl mt-4 font-black text-gray-800 dark:text-zinc-200">
          <%= config.title %>
        </h1>
        <!-- Sub-title -->
        <p class="text-xl font-extrabold text-gray-800 dark:text-zinc-200 mt-2 dark:text-zinc-200">
          <%= config.subtitle %>
        </p>
        <div class="flex flex-row items-center gap-6 mt-3">
          <span class="flex flex-row items-center gap-1">
            <iconify-icon  width="18" icon="mingcute:home-2-fill"></iconify-icon>
            <p>Beijing 北京</p>
          </span>
          <a href="/pdf/cv.pdf" class="flex flex-row items-center gap-1 group">
            <iconify-icon class="transition-transform group-hover:rotate-[8deg] group-hover:scale-125" width="18" icon="mingcute:document-fill"></iconify-icon>
            <p>CV 简历 (Dec, 2022)</p>
          </a>
        </div>
        <!-- Description from config -->
        <div class="description-container max-w-prose mx-auto grid grid-cols-1">
          <div class="text-left p-8">
            <p>
              <%- config.description.replace(/(?:\r\n|\r|\n)/g, '<br>') %>
            </p>
          </div>
        </div>
        <!-- get content from index.md -->
        <div class="post-content mt-4">
        </div>
      </div>
    </div>
  </div>

  <!-- 分割线 -->
  <div class="flex flex-col items-center justify-center0">
    <hr class="w-1/2 my-8 h-[1px] bg-[var(--c-sep-2)] mr-1/2"></hr>
    <div class="flex flex-row items-center gap-2 text-[var(--c-50)]">
      <iconify-icon width="28" icon="mingcute:news-fill"></iconify-icon>
      <p class="text-center text-3xl">Recent Works</p>
    </div>
  </div>

  <!-- List of featured posts -->
  <%- partial('_partial/post-list',{
      posts: site.posts.filter(post => post.featured), 
      show_tags: false
    }
  ) %>

</div>