<!-- css -->
<%- css('lib/fancybox/fancybox.min.css') %>
  <%- css('lib/tocbot/tocbot.min.css') %>
    <!-- toc -->
    <% if (toc(page.content).length !==0) { %>
  <%- partial('_partial/toc') %>
<% } %>
<section class="px-6 max-w-prose mx-auto md:px-0">
  <!-- Post header before content -->
  <header class="py-4">
    <div class="flex flex-col gap-2 pt-4 md:pt-6">
      <!-- Title -->
      <div id="article-title" class="leading-snug">
        <p class="text-3xl font-bold text-[var(--c-100)] mb-4"><%- page.title %></p>
      </div>
      <!-- Meta data -->
      <div>
        <section class="
          flex flex-col gap-x-2 gap-y-1 text-sm text-[var(--c-100)]">
          <div class="flex flex-wrap items-center gap-x-2 gap-y-1">
            <!-- Dates -->
            <div class="flex items-center gap-1">
              <iconify-icon width="18" icon="mingcute:add-circle-fill" ></iconify-icon>
              Created: <time class="w-max"><%- date(page.date, "YYYY-MM-DD") %></time>
            </div>
            <div class="flex items-center gap-1">
              <iconify-icon width="18" icon="mingcute:refresh-3-fill" ></iconify-icon>
              Edited: <time class="w-max"><%- date(page.updated, "YYYY-MM-DD") %></time>
            </div>
          </div>
          <div class="flex flex-wrap items-center gap-x-3 gap-y-3">
            <!-- Author -->
            <% if (page.author !== undefined) { %>
              <span class="flex items-center gap-1 group">
                <iconify-icon width="18" icon="mingcute:user-edit-fill" ></iconify-icon>
                <p><%- page.author %></p>
              </span>
            <% } %>

            <!-- Word count -->
            <span class="flex items-center gap-1">
              <iconify-icon width="18" icon="mingcute:book-2-fill" ></iconify-icon>
              <span><%= wordcount(page.content) %> words, <%= min2read(page.content) %> min</span>
            </span>
            <!-- Categories -->
            <% if (page.categories && page.categories.length) { %>
              <!-- <span class="text-gray-400">·</span> -->
              <span class="flex flex-row items-center gap-1 group hover:underline">
                <iconify-icon class="transition-all group-hover:scale-125 mr-0"
                  width="18"
                  icon="mingcute:classify-2-fill">
                </iconify-icon>
                <%- list_categories(page.categories, {
                  show_count: false,
                  class: 'article-category',
                  style: 'none',
                  separator: '/'
                }) %>
              </span>
            <% } %>
          </div>
        </section>
      </div>
      <!-- tags -->
      <div>
        <%- partial('_partial/tag-list', {tags: page.tags}) %>
      </div>
    </div>
  </header>
  <!-- content -->
  <article class="post-content prose m-auto dark:prose-invert">
    <%- page.content %>
  </article>

  <!-- prev and next -->
  <div class="flex justify-between mt-4 pt-4
    border-t border-[var(--c-sep)] text-sm
    gap-2 text-[var(--c-50)]
  ">
    <div>
      <% if (page.prev) { %>
        <a href="<%- url_for(page.prev.path) %>"
          class="
            transition-all
            flex justify-center
            hover:-translate-x-1
            hover:text-[var(--c-80)]
          ">
          <iconify-icon width="20" icon="mingcute:left-fill" data-inline="false">
          </iconify-icon>
          <%- page.prev.title %>
        </a>
      <% } %>
    </div>
    <div>
      <% if (page.next) { %>
        <a href="<%- url_for(page.next.path) %>"
          class="
            flex 
            justify-center
            hover:translate-x-1 
            transition-transform
            hover:text-[var(--c-100)]
          "
        >
          <%- page.next.title %>
          <iconify-icon width="20" icon="mingcute:right-fill" data-inline="false"></iconify-icon>
        </a>
      <% } %>
    </div>
  </div>

  <!-- comment -->
  <div class="article-comments mt-12">
    <%- partial('_plugins/giscus') %>
  </div>
</section>
<!-- js inspect -->
<%- js('lib/clipboard.min') %>
<%- partial('_plugins/mathjax') %>
<%- partial('_plugins/mermaid') %>
<%- partial('_plugins/fancybox') %>
<%- partial('_plugins/tocbot') %>