<!-- 
This page has two versions, which is shown is based on whether current page
is "tag".

  - url:'http://localhost:4000/tag/' return false.
- url:'http://localhost:4000/tags/test/' return true.

The '/tag/' page shows all tags and is where you land on when you click
on the "Tags" in the navigation bar. Otherwise if you enter 'tags' by clicking on of the tag elements in some
posts, and it shows all posts with that tag.

To add a "Tags" page.

1. hexo new page "tag"
2. cd source/tag/index.md
3. Add the following front matter.

---
title: '''tag'''
date: 2019-06-09 09:56:49
layout: tag
---
-->
<% if (is_tag()) { %>
  <!-- 已经选择了一个tag，显示一个 tag 的所有 post -->
  <div class="mt-6">
    <div class="flex flex-wrap gap-2 justify-center items-center">
      <div class="text-xl align-middle">
        Tag:
      </div>
      <div 
      class="
        bg-[var(--c-20)]
        dark:bg-transparent
        border-[1px]
        border-[var(--c-sep-2)]
        px-2 py-[1px] text-xl rounded-full
      ">
        #<%-page.tag%>
      </div>
  </div>
  <%- partial('archive', {pagination: config.tag, index: true}) %>
<% } else { %>
  <!-- 显示所有tag，让用户选择 -->
  <div class="flex flex-col gap-2 px-6 max-w-prose mx-auto md:px-0 mt-6">
    <div class="flex flex-row items-center gap-2">
      <iconify-icon width="30" icon="mingcute:tag-fill"></iconify-icon>
      <h2 class="font-bold text-2xl">Tags</h2>
    </div>
    <div class="tags-container flex flex-wrap gap-1">
      <% site.tags.sort('length', 'desc').each(item => { %>
        <a href="<%-url_for(item.path)%>"
          class="
            flex
            flex-row
            items-center
            text-[var(--c-70)]
            dark:text-[var(--c-80)]
            border-[1px]
            border-[var(--c-sep)]
            bg-[var(--c-20)]
            hover:bg-[var(--c-30)]
            dark:bg-transparent 
            dark:hover:bg-[var(--c-80)]
            dark:hover:text-[var(--c-20)]
            px-[8px]
            py-[1px]
            rounded-full
            hover:z-10"
          href="<%- url_for(item.path) %>">
          #<%- item.name %>
          <span class="text-[var(--c-50)] dark:text-[var(--c-60)] hover:text-[var(--c-60)] pl-1
            text-sm">×<%- item.length %></span>
        </a>
      <% }) %>
    </div>
  </div>
<% } %>
