<!-- 
This page has two versions, which is shown is based on whether current page
is "tags".

- url 'http://localhost:4000/tags/' return false.
- url 'http://localhost:4000/tags/test/' return true.

The '/tags/' page shows all tags and is where you land on when you click
on the "Tags" in the navigation bar. Otherwise if you enter 'tags' by clicking on of the tag elements in some
posts, and it shows all posts with that tag.

To add a "Tags" page.

1. hexo new page "tag"
2. cd source/tags/index.md
3. Add the following front matter.

---
title: '''tags'''
date: 2019-06-09 09:56:49
layout: tags
---
-->

<% if (is_tag()) { console.log('test'); %>
  <!-- 已经选择了一个tag，显示一个 tag 的所有 post -->
  <a>A tag post list</a>
  <div class="mt-6">
    <div class="flex flex-wrap gap-1 justify-center items-center">
      <iconify-icon width="24" icon="mingcute:tag-fill"></iconify-icon>
      <div class="text-xl align-middle">
        Tag:
      </div>
      <div 
      class="
        tag
        px-2
        py-[1px]
        text-xl
        rounded-full
        pointer-events-none
      ">
        #<%-page.tag%>
      </div>
  </div>
  <%- partial('archive', {pagination: config.tag, index: true}) %>
<% } else { %>
  <!-- 显示所有tag，让用户选择 -->
  <div class="flex flex-col gap-2 px-6 max-w-prose mx-auto md:px-0 my-8">
    <div class="flex flex-row items-center gap-2">
      <iconify-icon width="28" icon="mingcute:tag-fill"></iconify-icon>
      <h2 class="font-bold text-2xl">Tags</h2>
    </div>
    <div class="tags-container flex flex-wrap gap-1 mt-2">
      <% var tags = site.tags.sort('length', -1); %>
      <% tags.each(item => { %>
        <a href="<%-url_for(item.path)%>"
          class="
            tag
            flex flex-row items-center
            text-[16px]
            px-[8px]
            py-[2px]
            rounded-full
            drop-shadow-md
            border-[1px]
            border-[var(--c-theme)]
            text-[var(--c-theme)]
            bg-[var(--c-0)]
            dark:bg-[var(--c-0)]
            dark:drop-shadow-none
            hover:bg-[var(--c-theme)]
            dark:hover:bg-[var(--c-theme)]
            hover:text-[var(--c-0)]
          "
          href="<%- url_for(item.path) %>">
          #<%- item.name %>
          <span class="
            text-[var(--c-50)]
            dark:text-[var(--c-70)]
            hover:dark:text-[var(--c-80)]
            hover:text-[var(--c-20)]
            pl-1
            text-sm">
            ×<%- item.length %>
          </span>
        </a>
      <% }) %>
    </div>
  </div>
<% } %>
