<meta charset="UTF-8">
<%- partial('_plugins/google-analytics') %>
<%- partial('_plugins/baidu-analytics') %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<% if(config.author){ %>
  <meta name="author" content="<%- config.author %>">
<% } %>
<% if(config.subtitle){ %>
  <meta name="subtitle" content="<%- config.subtitle %>">
<% } %>
<% if(config.description){ %>
  <meta name="description" content="<%- config.description %>">
<% } %>
<% if(config.keywords){ %>
  <meta name="keywords" content="<%- config.keywords %>">
<% } %>
<%
var title = page.title;
if (is_archive()) {
  title = __('archive_a');
  if (is_month()) {
    title += ': ' + page.year + '/' + page.month;
  } else if (is_year()) {
    title += ': ' + page.year;
  }
} else if (is_category()) {
  title = __('category') + ': ' + page.category;
} else if (is_tag()) {
  title = __('tag') + ': ' + page.tag;
}
%>
<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

<%# favicon %>
<% if (theme.favicon){ %>
<link rel="icon" href="<%- url_for(theme.favicon) %>">
<% } %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<%- css('css/main') %>
<%- css('css/search') %>

<%- js('lib/jquery.min.js') %>
<%- js('lib/iconify-icon.min.js') %>

<%- partial('_plugins/tailwindcss') %>
<%- partial('_plugins/theme') %>


