<!-- The navigation bar -->
<header class="
    flex flex-row items-center
    w-full
    pr-4
    z-10
    border-b-[1px]
    border-b-[var(--c-border)]
    dark:bg-[var(--c-0)]
    dark:border-b-[var(--c-0)]
    gap-2
    h-[var(--h-header)]
    text-[var(--c-80)]
">
  <!-- Left part -->
  <div class="overflow-hidden h-full flex flex-row items-center">
    <!-- Site Title on the top left -->
    <a href="<%- config.root %>" class="
            whitespace-nowrap
            text-2xl
            text-[var(--c-theme)]
            hover:text-[var(--c-theme)]
            pl-4
            font-black
            bg-gradient-to-r from-cyan-500
            to-blue-500 bg-clip-text text-transparent
          ">
      <%= config.title %>
    </a>
  </div>
  <!-- Div for pushing items to both sides -->
  <div class="flex-1"></div>
  <!-- Right part -->
  <div class="flex flex-row items-center z-20 h-full">
    <!-- Page links -->
    <div class="hidden sm:flex flex-row h-full">
      <% for (var i in theme.nav) { %>
        <% var pageLink = theme.nav[i]; %>
        <% if (typeof pageLink === 'object') { %>
          <% var path = theme.nav[i].path; %>
          <% var icon = theme.nav[i].icon; %>
        <% } else { %>
          <% var path = theme.nav[i]; %>
          <% var icon = null; %>
      <% } %>
      <a href="<%= url_for(path) %>" class="
                        flex flex-row items-center
                        gap-1
                        hover:underline
                        hover:bg-[var(--c-20)]
                        hover:text-[var(--c-theme)]
                        transition-all
                        px-2
                        py-1
                        my-1
                        rounded-lg
                        group
                        whitespace-nowrap
                    ">
        <% if (icon) { %>
        <iconify-icon class="group-hover:scale-125 transition-transform" icon="<%- icon %>" width="22">
        </iconify-icon>
        <% } %>
        <% if (theme.nav[i].show_name != false && theme.nav[i].name) { %>
        <p><%= theme.nav[i].name %></p>
        <% } %>
      </a>
      <% } %>
    </div>
    <!-- Icons on the right -->
    <div class="flex flex-row items-center justify-center">

      <!-- TODO: Add search icon here -->

      <!-- Dark/light toggle icon -->
      <a class="flex group p-1" title="toggle theme" id="toggle-dark">
        <iconify-icon class="transition-transform
                    group-hover:rotate-[45deg]
                    group-hover:scale-125
                    group-hover:text-[var(--c-theme)]" width="24" id="theme-icon">
        </iconify-icon>
      </a>
      <!-- Icon for dropout menu on small screens -->
      <div class="flex flex-row items-center justify-center p-1 sm:hidden">
        <a class="w-6 h-6" aria-hidden="true" id="open-menu">
          <iconify-icon width="24" icon="mingcute:menu-fill" class="transition-transform hover:scale-125 hover:rotate-[5deg]">
          </iconify-icon>
        </a>
        <a class="w-6 h-6 hidden" aria-hidden="true" id="close-menu">
          <iconify-icon width="24" icon="mingcute:close-circle-fill" class="transition-transform hover:scale-125 hover:rotate-[80deg]">
          </iconify-icon>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Dropdown menu on small screens -->
<div id="menu-panel" class="
        h-0
        overflow-hidden
        sm:hidden
        w-full
        z-10
        rounded
    ">
  <div id="menu-content" class="
        flex
        flex-col
        font-bold
        text-xl
        border-b-[1px]
        relative
        z-20
        border-[var(--c-sep)]
        px-2
        py-2
        -translate-y-full
        transition-transform
        duration-200
        ">
    <% for (var i in theme.nav){ %>
    <% var pageLink = theme.nav[i]; %>
    <% if (typeof pageLink === 'object') { %>
    <a href="<%- url_for(theme.nav[i].path) %>" class="
                flex flex-row items-center
                gap-2
                h-12
                hover:underline
                hover:bg-[var(--c-20)]
                px-3
                py-1
                rounded-lg
            ">
      <iconify-icon icon="<%- theme.nav[i].icon %>" width="22">
      </iconify-icon>
      <p>
        <%= theme.nav[i].name %>
      </p>
    </a>
    <% } else { %>
    <a href="<%- url_for(theme.nav[i]) %>" class="flex flex-row items-center
              h-12
              hover:underline
              px-3
              py-1
              rounded-lg
            ">
      <p>
        <%= i %>
      </p>
    </a>
    <% } %>
    <% } %>
  </div>
</div>
